<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm phòng mới</title>
</head>
<body>
<h1>Thêm phòng mới</h1>
<form th:action="@{/room/add}" th:object="${room}" method="post">

    <label for="roomName">Tên phòng:</label>
    <input type="text" id="roomName" th:field="*{roomName}" required/>
    <br/>

    <label for="description">Mô tả:</label>
    <textarea id="description" th:field="*{description}"></textarea>
    <br/>

    <label for="roomGroup">Loại phòng:</label>
    <select id="roomGroup" th:field="*{roomGroup}">
        <option th:each="group : ${roomGroups}"
                th:value="${group.roomGroupId}"
                th:text="${group.groupName}">Loại phòng</option>
    </select>
    <br/>

    <label>Các dịch vụ:</label>
    <div th:each="service : ${services}">
        <input type="checkbox" th:field="*{services}" th:value="${service.serviceId}"/>
        <span th:text="${service.serviceName}">Tên dịch vụ</span>
        <br/>
    </div>
    <a th:href="@{/room/list}"
       class="btn btn-dark btn-sm">
        Hủy
    </a>
    <a th:href="@{/}"
       class="btn btn-dark btn-sm mb-3">
        Quay về trang chủ
    </a>


    <button type="submit">Lưu</button>
</form>
</body>
</html>
