<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin-fragments::header}">
    <meta charset="UTF-8">
</head>

<body class="sb-nav-fixed">
<nav th:replace="~{admin-fragments::admin-nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{admin-fragments::side-nav}"></div>
    <div id="layoutSidenav_content" class="">
        <div class="container-fluid px-4">

            <!-- Title -->
            <div class="d-flex justify-content-center align-items-center">
                <div class="content p-4 rounded text-center">
                    <h4 class="fw-bold display-6">Danh sách khách hàng</h4>
                </div>
            </div>

            <!-- Customer Table -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày sinh</th>
                    <th>Tổng số booking</th>
                    <th>Tổng tiền booking</th>
                    <th>Tổng tiền đã thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Khác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${users}">
                    <td th:text="${customer.customerId}"></td>
                    <td th:text="${customer.fullName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.dateOfBirth}"></td>
                    <td th:text="${customer.bookings.size()}"></td>
                    <td th:text="${customer.totalAmountBooking}"></td>
                    <td th:text="${customer.totalAmountPaid}"></td>
                    <td>
                        <span th:if="${customer.totalAmountBooking - customer.totalAmountPaid == 0}">
                            Đủ (0)
                        </span>
                                            <span th:if="${customer.totalAmountBooking - customer.totalAmountPaid > 0}">
                            Thiếu (<span  th:text="${customer.totalAmountBooking - customer.totalAmountPaid}"></span>)
                        </span>
                                            <span th:if="${customer.totalAmountBooking - customer.totalAmountPaid < 0}">
                            Thừa (<span  th:text="${customer.totalAmountPaid - customer.totalAmountBooking}"></span>)
                        </span>
                    </td>

<!--                    <td th:text="${#numbers.formatDecimal(customer.bookings.stream().mapToLong(b -> b.amountHasPaid).sum(), 1, 'POINT')}"></td>-->
                    <td>
                        <button class="btn btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editCustomerModal"
                                th:attr="data-customer-id=${customer.customerId}">
                            Sửa
                        </button>

                        <form th:action="@{/admin/user/delete/{customerId}(customerId=${customer.customerId})}" method="post" style="display: inline;" id="deleteForm">
                            <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete()">
                                Xóa
                            </button>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Edit Customer Modal -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">Sửa thông tin khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form th:action="@{/admin/user/edit}" method="post">
                <input type="hidden" id="customerId" name="customerId" th:value="${customer.customerId}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Họ và Tên</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" th:value="${customer.fullName}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${customer.email}" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" required>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address" th:value="${customer.address}" required>
                    </div>
                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" th:value="${customer.dateOfBirth}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br><br><br><br>
<script>
    function confirmDelete() {
        const customerId = document.getElementById("deleteForm").getAttribute('action').replace('/admin/user/delete/', '').replace('/{customerId}', '');

        if (confirm("Bạn có chắc muốn xóa khách hàng này không?")) {
            document.getElementById('deleteForm').submit();
        }
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
