<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{admin-fragments::header}">
    <meta charset="UTF-8">
    <style>
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{admin-fragments::admin-nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{admin-fragments::side-nav}"></div>
    <div id="layoutSidenav_content" class="">

        <!-- Main Content -->
        <div class="container-fluid px-4">
            <div class="container mt-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="content p-4 rounded text-center">
                        <h4 class="fw-bold display-6">Cập nhật loại phòng</h4>
                    </div>
                </div>

                <form th:action="@{/admin/update-room-group/{id}(id=${roomGroup.roomGroupId})}" th:object="${roomGroup}"
                      method="post" enctype="multipart/form-data">

                    <!-- Dòng cho Tên loại phòng và Diện tích -->
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="groupName" class="form-label">Tên loại phòng:</label>
                            <input type="text" id="groupName" th:field="*{groupName}" class="form-control" required/>
                        </div>
                        <div class="col-6">
                            <label for="area" class="form-label">Diện tích:</label>
                            <input type="number" id="area" th:field="*{area}" class="form-control" required/>
                        </div>
                    </div>

                    <!-- Dòng cho Giá 1 đêm và Giá combo 2h -->
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="pricePerNight" class="form-label">Giá 1 đêm:</label>
                            <input type="number" id="pricePerNight" th:field="*{pricePerNight}" class="form-control"
                                   required/>
                        </div>
                        <div class="col-6">
                            <label for="comboPrice2H" class="form-label">Giá combo 2h:</label>
                            <input type="number" id="comboPrice2H" th:field="*{comboPrice2H}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <!-- Dòng cho Giá giờ thêm và Mô tả -->
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="extraHourPrice" class="form-label">Giá giờ thêm:</label>
                            <input type="number" id="extraHourPrice" th:field="*{extraHourPrice}" class="form-control"
                                   required/>
                        </div>
                        <div class="col-6">
                            <label for="description" class="form-label">Mô tả:</label>
                            <textarea id="description" th:field="*{description}" class="form-control"></textarea>
                        </div>
                    </div>

                    <!-- Dòng cho Số người tiêu chuẩn và Số người tối đa -->
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="standardOccupancy" class="form-label">Số người tiêu chuẩn:</label>
                            <input type="number" id="standardOccupancy" th:field="*{standardOccupancy}"
                                   class="form-control" required/>
                        </div>
                        <div class="col-6">
                            <label for="maxOccupancy" class="form-label">Số người tối đa:</label>
                            <input type="number" id="maxOccupancy" th:field="*{maxOccupancy}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <!-- Dòng cho số trẻ em miễn phí và phụ thu thêm người -->
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="numChildrenFree" class="form-label">Số trẻ em miễn phí:</label>
                            <input type="number" id="numChildrenFree" th:field="*{numChildrenFree}" class="form-control"
                                   required/>
                        </div>
                        <div class="col-6">
                            <label for="extraAdult" class="form-label">Phụ thu thêm người:</label>
                            <input type="number" id="extraAdult" th:field="*{extraAdult}" class="form-control"
                                   required/>
                        </div>
                    </div>

                    <hr/>

                    <!-- Loại giường và số lượng -->
                    <div class="mb-3">
                        <label for="beds" class="form-label">Chọn loại giường và số lượng:</label>
                        <div th:each="bed, bedStat : ${roomGroup.beds}">
                            <div>
                                <label th:text="${bed.bedType.displayName}"></label>
                                <input type="number" th:field="*{beds[__${bedStat.index}__].bedNumber}"
                                       placeholder="Nhập số lượng giường" min="0" class="form-control"/>
                                <!-- Ẩn thông tin bedType để gửi về form -->
                                <input type="hidden" th:field="*{beds[__${bedStat.index}__].bedType}"/>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <label>Chọn các dịch vụ:</label>
                    <div th:each="service : ${services}">
                        <input type="checkbox" th:field="*{services}" th:value="${service.serviceId}"
                               th:checked="${roomGroup.services.contains(service)}"/>
                        <span th:text="${service.serviceName}">Dịch vụ</span>
                        <br/>
                    </div>

                    <!-- Tải ảnh chính -->
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Tải ảnh chính:</label>
                        <input type="file" id="imageFile" name="file" class="form-control"/>
                    </div>

                    <!-- Tải ảnh khác -->
                    <div class="mb-3">
                        <label for="imageFiles" class="form-label">Tải ảnh khác:</label>
                        <input type="file" id="imageFiles" name="files" multiple class="form-control"/>
                    </div>

                    <a th:href="@{/admin/room-group}" class="btn btn-light">
                        Hủy
                    </a>

                    <button type="submit" class="btn btn-primary btn bg-dark">
                        Cập nhật loại phòng
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

</body>
</html>
