<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hóa đơn đặt phòng khách sạn</title>
</head>
<body>
<h2>Hóa đơn đặt phòng khách sạn</h2>
<div>
    <p><strong>Booking ID:</strong> <span th:text="${booking.bookingId}"></span></p>
    <p><strong>Loại phòng:</strong> <span th:text="${booking.room.roomGroup.groupName}">Loại phòng</span></p>
    <p><strong>Phòng:</strong> <span th:text="${booking.room.roomName}">Tên phòng</span></p>
    <p><strong>Tên:</strong> <span th:text="${booking.user.fullName}">Tên</span></p>
    <p><strong>Email:</strong> <span th:text="${booking.user.email}">Email</span></p>
    <p><strong>Số điện thoại:</strong> <span th:text="${booking.user.phoneNumber}">Số điện thoại</span></p>
    <p><strong>Ngày và giờ nhận phòng:</strong> <span th:text="${booking.checkInDate}">Ngày và giờ nhận phòng</span></p>
    <p><strong>Ngày và giờ trả phòng:</strong> <span th:text="${booking.checkOutDate}">Ngày và giờ trả phòng</span></p>
    <p><strong>Tổng giá tiền:</strong> <span id="totalPrice" th:text="${booking.totalPrice}">Tổng tiền</span></p>
</div>
<div>
    <p><strong>Tổng giá thanh toán:</strong> <span th:text="${booking.totalPrice}">Tổng giá thanh toán:</span></p>
</div>

<a th:href="@{/}">Quay về trang chủ </a>

</body>
</html>
