<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Falcon | Dashboard & Web App Template</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="../../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <link href="css/swiper-bundle.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="css/simplebar.min.css" rel="stylesheet">
    <link href="css/theme-rtl.min.css" rel="stylesheet" id="style-rtl" disabled="true">
    <link href="css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl" disabled="true">
    <link href="css/user.min.css" rel="stylesheet" id="user-style-default">
</head>

<body>
<main class="main" id="top">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-slider" id="galleryTop">
                            <div class="swiper theme-slider position-lg-absolute all-0" data-swiper='{"autoheight":true,"spacebetween":5,"loop":true,"loopedslides":5,"thumb":{"spacebetween":5,"slidesperview":5,"loop":true,"freemode":true,"grabcursor":true,"loopedslides":5,"centeredslides":true,"slidetoclickedslide":true,"watchslidesvisibility":true,"watchslidesprogress":true,"parent":"#galleryTop"},"slidetoclickedslide":true}'>
                                <div class="swiper-wrapper h-100">
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1_1.jpg" alt=""></div>
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1-2.jpg" alt=""></div>
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1-3.jpg" alt=""></div>
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1-4.jpg" alt=""></div>
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1-5.jpg" alt=""></div>
                                    <div class="swiper-slide h-100"><img class="rounded-1 object-fit-cover h-100 w-100" src="images/1-6.jpg" alt=""></div>
                                </div>
                                <div class="swiper-nav">
                                    <div class="swiper-button-next swiper-button-white"></div>
                                    <div class="swiper-button-prev swiper-button-white"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>Apple MacBook Pro (15" Retina, Touch Bar, 2.2GHz 6-Core Intel Core i7, 16GB RAM, 256GB SSD) - Space Gray (Latest Model)</h5>
                        <a class="fs-10 mb-2 d-block" href="#!">Computer & Accessories</a>
                        <div class="fs-11 mb-3 d-inline-block text-decoration-none">
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star-half-alt text-warning star-icon"></span>
                            <span class="ms-1 text-600">(8)</span>
                        </div>
                        <p class="fs-10">Testing conducted by Apple in October 2018 using pre-production 2.9GHz 6‑core Intel Core i9‑based 15-inch MacBook Pro systems...</p>
                        <h4 class="d-flex align-items-center">
                            <span class="text-warning me-2">$1200</span>
                            <span class="me-1 fs-10 text-500"><del class="me-1">$2400</del><strong>-50%</strong></span>
                        </h4>
                        <p class="fs-10 mb-1"><span>Shipping Cost: </span><strong>$50</strong></p>
                        <p class="fs-10">Stock: <strong class="text-success">Available</strong></p>
                        <p class="fs-10 mb-3">Tags: <a class="ms-2" href="#!">Computer,</a><a class="ms-1" href="#!">Mac Book,</a><a class="ms-1" href="#!">Laptop </a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mt-4">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active ps-0" id="description-tab" data-bs-toggle="tab" href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">Mô tả</a></li>
                                <li class="nav-item"><a class="nav-link px-2 px-md-3" id="specifications-tab" data-bs-toggle="tab" href="#tab-specifications" role="tab" aria-controls="tab-specifications" aria-selected="false">Thông số kỹ thuật</a></li>
                                <li class="nav-item"><a class="nav-link px-2 px-md-3" id="reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-reviews" aria-selected="false">Đánh giá</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="tab-description" role="tabpanel" aria-labelledby="description-tab">
                                    <p>Chi tiết về sản phẩm và tính năng sẽ được miêu tả ở đây...</p>
                                </div>
                                <div class="tab-pane fade" id="tab-specifications" role="tabpanel" aria-labelledby="specifications-tab">
                                    <ul>
                                        <li>CPU: 2.2GHz 6-Core Intel Core i7</li>
                                        <li>RAM: 16GB</li>
                                        <li>SSD: 256GB</li>
                                        <li>Graphics: Radeon Pro Vega 20</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show active" id="tab-reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                    <div class="row mt-3">
                                        <div class="col-lg-6 mb-4 mb-lg-0">
                                            <div class="review-item">
                                                <div class="fs-10 mb-1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star-half-alt text-warning"></span></div>
                                                <p class="fs-10">Đánh giá tuyệt vời! Máy tính này chạy rất nhanh và màn hình đẹp tuyệt vời.</p>
                                                <small>- Minh Tuấn, 3 ngày trước</small>
                                            </div>
                                            <div class="review-item">
                                                <div class="fs-10 mb-1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star-half-alt text-warning"></span></div>
                                                <p class="fs-10">Chất lượng rất tốt, tuy nhiên giá hơi cao. Nhưng vẫn xứng đáng.</p>
                                                <small>- Thảo My, 1 tuần trước</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-primary w-100">Thêm đánh giá của bạn</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/theme.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Your custom JS logic here
    });
</script>
</body>
</html>
