<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
</head>
<body>

<div>
    <h2>Đăng ký</h2>

    <form action="#" th:action="@{/register}" th:object="${webUser}" method="POST">

        <label for="email">E-mail</label>
        <input type="text" id="email" th:field="*{email}" placeholder="Email (*)" required>
        <div th:if="${#fields.hasErrors('email')}" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"></li>
            </ul>
        </div>

        <label for="password">Mật khẩu</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Mật khẩu" required>
        <div th:if="${#fields.hasErrors('password')}" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="'Mật khẩu ' + ${err}"></li>
            </ul>
        </div>

        <label for="fullName">Tên đầy đủ</label>
        <input type="text" id="fullName" th:field="*{fullName}" placeholder="Tên đầy đủ" required>
        <div th:if="${#fields.hasErrors('fullName')}" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('fullName')}" th:text="'Tên đầy đủ ' + ${err}"></li>
            </ul>
        </div>

        <input type="submit" value="Đăng ký">
        <br>
        <a th:href="@{/login}" class="forgot-password" title="Đã có tài khoản">Đã có tài khoản</a>

    </form>
</div>

</body>
</html>
