<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="description" content="">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Title &ndash;&gt;-->
<!--    <title>Selegend Hotel</title>-->

<!--    &lt;!&ndash; Favicon &ndash;&gt;-->
<!--    <link rel="icon" href="./img/core-img/favicon.png">-->

    <!-- Stylesheet -->
<!--    <link rel="stylesheet" href="style.css">-->
</head>

<body>
<!--&lt;!&ndash; Preloader &ndash;&gt;-->
<!--<div id="preloader">-->
<!--    <div class="loader"></div>-->
<!--</div>-->
<!--&lt;!&ndash; /Preloader &ndash;&gt;-->

<!--<header class="header-area">-->
<!--    &lt;!&ndash; Search Form &ndash;&gt;-->
<!--    <div class="search-form d-flex align-items-center">-->
<!--        <div class="container">-->
<!--            <form action="index.html" method="get">-->
<!--                <input type="search" name="search-form-input" id="searchFormInput" placeholder="Nhập từ khóa ...">-->
<!--                <button type="submit"><i class="icon_search"></i></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Top Header Area Start &ndash;&gt;-->
<!--    <div class="top-header-area">-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-6">-->
<!--                    <div class="top-header-content">-->
<!--                        <a href="#"><i class="icon_phone"></i> <span>0123 456 789</span></a>-->
<!--                        <a href="#"><i class="icon_mail"></i> <span>hotel@gmail.com</span></a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-6">-->
<!--                    <div class="top-header-content">-->
<!--                        &lt;!&ndash; Top Social Area &ndash;&gt;-->
<!--                        <div class="top-social-area ml-auto">-->
<!--                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                            <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>-->
<!--                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Top Header Area End &ndash;&gt;-->

<!--    &lt;!&ndash; Main Header Start &ndash;&gt;-->
<!--    <div class="main-header-area">-->
<!--        <div class="classy-nav-container breakpoint-off">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Classy Menu &ndash;&gt;-->
<!--                <nav class="classy-navbar justify-content-between" id="robertoNav">-->

<!--                    &lt;!&ndash; Logo &ndash;&gt;-->
<!--                    <a class="nav-brand" href="index.html"><img src="./img/core-img/logo.png" alt=""></a>-->

<!--                    &lt;!&ndash; Navbar Toggler &ndash;&gt;-->
<!--                    <div class="classy-navbar-toggler">-->
<!--                        <span class="navbarToggler"><span></span><span></span><span></span></span>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Menu &ndash;&gt;-->
<!--                    <div class="classy-menu">-->
<!--                        &lt;!&ndash; Menu Close Button &ndash;&gt;-->
<!--                        <div class="classycloseIcon">-->
<!--                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Nav Start &ndash;&gt;-->
<!--                        <div class="classynav">-->
<!--                            <ul id="nav">-->
<!--                                <li class="active"><a href="./index.html">Trang chủ</a></li>-->
<!--                                <li><a href="./room.html">Phòng nghỉ</a></li>-->
<!--                                <li><a href="./about.html">Chúng tôi</a></li>-->

<!--                                <li><a href="./blog.html">Mới</a></li>-->
<!--                                <li><a href="./contact.html">Liên hệ</a></li>-->
<!--                            </ul>-->

<!--                            &lt;!&ndash; Search &ndash;&gt;-->
<!--                            <div class="search-btn ml-4">-->
<!--                                <i class="fa fa-search" aria-hidden="true"></i>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Book Now &ndash;&gt;-->
<!--                            <div class="book-now-btn ml-3 ml-lg-5">-->
<!--                                <a href="#">Đặt phòng ngay <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Nav End &ndash;&gt;-->
<!--                    </div>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->

<!--&lt;!&ndash; Header Area End &ndash;&gt;-->

<!--&lt;!&ndash; Breadcrumb Area Start &ndash;&gt;-->
<!--<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/16.jpg);">-->
<!--    <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--            <div class="col-12">-->
<!--                <div class="breadcrumb-content text-center">-->
<!--                    <h2 class="page-title">Phòng của chúng tôi</h2>-->
<!--                    <nav aria-label="breadcrumb">-->
<!--                        <ol class="breadcrumb justify-content-center">-->
<!--                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>-->
<!--                            <li class="breadcrumb-item active" aria-current="page">Phòng nghỉ</li>-->
<!--                        </ol>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Breadcrumb Area End &ndash;&gt;-->

<!-- Rooms Area Start -->
<!--<div class="roberto-rooms-area section-padding-100-0">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-lg-8">-->
<!--                <div th:each="roomGroup : ${roomGroups}" class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">-->
<!--                    &lt;!&ndash; Room Thumbnail &ndash;&gt;-->
<!--                    <div class="room-thumbnail">-->
<!--                        <img th:src="@{${roomGroup.imageUrl}}" alt="Room Image">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Room Content &ndash;&gt;-->
<!--                    <div class="room-content">-->
<!--                        <h2 th:text="${roomGroup.groupName}"></h2>-->
<!--                        <h4 th:text="${roomGroup.pricePerNight} + ' vnđ / Ngày'"><span></span></h4>-->
<!--                        <div class="room-feature">-->
<!--                            <h6>Diện tích: <span th:text="${roomGroup.area}">30 ft</span></h6>-->
<!--                            <h6>Số ngđi tối đa: <span th:text="${roomGroup.maxOccupancy}"></span></h6>-->
<!--                            <h6>Giường: <span th:text="${roomGroup.getBedDescription()}"></span></h6>-->
<!--                            <h6>Dịch vụ: <span>Wifi, tivi...</span></h6>-->
<!--                        </div>-->
<!--                        <a href="#" class="btn view-detail-btn">Chi tiết <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Pagination &ndash;&gt;-->
<!--                <nav class="roberto-pagination wow fadeInUp mb-100" data-wow-delay="1000ms">-->
<!--                    <ul class="pagination">-->
<!--                        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">Tiếp <i class="fa fa-angle-right"></i></a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->

<!--            <div class="col-12 col-lg-4">-->
<!--                &lt;!&ndash; Hotel Reservation Area &ndash;&gt;-->
<!--                <div class="hotel-reservation--area mb-100">-->
<form th:action="@{/bookRoom}" th:object="${bookingDto}" method="post">

    <label for="checkInDate">Ngày nhận phòng:</label>
    <input type="date" id="checkInDate" th:field="*{checkInDate}" name="checkInDate"><br><br>

    <label for="checkOutDate">Ngày trả phòng:</label>
    <input type="date" id="checkOutDate" th:field="*{checkOutDate}" name="checkOutDate"><br><br>

    <label for="checkInTime">Giờ nhận phòng:</label>
    <input type="time" id="checkInTime" th:field="*{checkInTime}" name="checkInTime"><br><br>

    <label for="checkOutTime">Giờ trả phòng:</label>
    <input type="time" id="checkOutTime" th:field="*{checkOutTime}" name="checkOutTime"><br><br>

    <label for="adults">Số người lớn:</label>
    <input type="number" id="adults" th:field="*{adults}" name="adults"><br><br>

    <label for="children">Số trẻ em:</label>
    <input type="number" id="children" th:field="*{children}" name="children"><br><br>

    <button type="submit">Đặt phòng</button>
</form>




<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Rooms Area End -->

<!--&lt;!&ndash; Call To Action Area Start &ndash;&gt;-->
<!--<section class="roberto-cta-area">-->
<!--    <div class="container">-->
<!--        <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/1.jpg);">-->
<!--            <div class="row align-items-center">-->
<!--                <div class="col-12 col-md-7">-->
<!--                    <div class="cta-text mb-50">-->
<!--                        <h2>Liên hệ ngay!</h2>-->
<!--                        <h6>Liên hệ 0123 456 789 để đặt phòng trực tiếp</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-12 col-md-5 text-right">-->
<!--                    <a href="#" class="btn roberto-btn mb-50">Liên hệ ngay</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Call To Action Area End &ndash;&gt;-->

<!--&lt;!&ndash; Partner Area Start &ndash;&gt;-->
<!--<div class="partner-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">-->
<!--                    &lt;!&ndash; Single Partner Logo &ndash;&gt;-->
<!--                    <a href="#" class="partner-logo"><img src="img/core-img/p1.png" alt=""></a>-->
<!--                    &lt;!&ndash; Single Partner Logo &ndash;&gt;-->
<!--                    <a href="#" class="partner-logo"><img src="img/core-img/p2.png" alt=""></a>-->
<!--                    &lt;!&ndash; Single Partner Logo &ndash;&gt;-->
<!--                    <a href="#" class="partner-logo"><img src="img/core-img/p3.png" alt=""></a>-->
<!--                    &lt;!&ndash; Single Partner Logo &ndash;&gt;-->
<!--                    <a href="#" class="partner-logo"><img src="img/core-img/p4.png" alt=""></a>-->
<!--                    &lt;!&ndash; Single Partner Logo &ndash;&gt;-->
<!--                    <a href="#" class="partner-logo"><img src="img/core-img/p5.png" alt=""></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Partner Area End &ndash;&gt;-->




<!--&lt;!&ndash; Footer Area Start &ndash;&gt;-->
<!--<footer class="footer-area section-padding-80-0">-->
<!--    &lt;!&ndash; Main Footer Area &ndash;&gt;-->
<!--    <div class="main-footer-area">-->
<!--        <div class="container">-->
<!--            <div class="row align-items-baseline justify-content-between">-->
<!--                &lt;!&ndash; Single Footer Widget Area &ndash;&gt;-->
<!--                <div class="col-12 col-sm-6 col-lg-3">-->
<!--                    <div class="single-footer-widget mb-80">-->
<!--                        &lt;!&ndash; Footer Logo &ndash;&gt;-->
<!--                        <a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a>-->

<!--                        <h4>0123 456 789</h4>-->
<!--                        <span>holel@gmail.com</span>-->
<!--                        <span>Trung Tâm Thành Phố Thái Bình</span>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-12 col-sm-4 col-lg-2">-->
<!--                    <div class="single-footer-widget mb-80">-->
<!--                        &lt;!&ndash; Widget Title &ndash;&gt;-->
<!--                        <h5 class="widget-title">Liên kết</h5>-->

<!--                        &lt;!&ndash; Footer Nav &ndash;&gt;-->
<!--                        <ul class="footer-nav">-->
<!--                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Về chúng tôi</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Phòng nghỉ</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nghề nghiệp</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Footer Widget Area &ndash;&gt;-->
<!--                <div class="col-12 col-sm-8 col-lg-4">-->
<!--                    <div class="single-footer-widget mb-80">-->
<!--                        &lt;!&ndash; Widget Title &ndash;&gt;-->
<!--                        <h5 class="widget-title">Đăng kí email</h5>-->
<!--                        <span>Đăng kí để nhận thông tin mới nhất</span>-->

<!--                        &lt;!&ndash; Newsletter Form &ndash;&gt;-->
<!--&lt;!&ndash;                        <form action="index.html" class="nl-form">&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="email" class="form-control" placeholder="Enter your email...">&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </form>&ndash;&gt;-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Copywrite Area &ndash;&gt;-->
<!--    <div class="container">-->
<!--        <div class="copywrite-content">-->
<!--            <div class="row align-items-center">-->
<!--                <div class="col-12 col-md-4">-->
<!--                    <div class="social-info">-->
<!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<!--<script src="js/jquery.min.js"></script>-->
<!--&lt;!&ndash; Popper &ndash;&gt;-->
<!--<script src="js/popper.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; All Plugins &ndash;&gt;-->
<!--<script src="js/roberto.bundle.js"></script>-->
<!--&lt;!&ndash; Active &ndash;&gt;-->
<!--<script src="js/default-assets/active.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->


</body>

</html>