<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Selegend Hotel</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{./img/core-img/favicon.png}">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">
    <!-- Search Form -->
    <div class="search-form d-flex align-items-center">
        <div class="container">
            <form action="index.html" method="get">
                <input type="search" name="search-form-input" id="searchFormInput" placeholder="Nhập từ khóa ...">
                <button type="submit"><i class="icon_search"></i></button>
            </form>
        </div>
    </div>

    <!-- Top Header Area Start -->
    <div th:replace="~{fragments::nav-header}"></div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div th:replace="~{fragments::main-header-start}"></div>
</header>

<!-- Header Area End -->

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" th:style="'background-image: url(' + @{/img/bg-img/16.png} + ');'">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                    <h2 class="room-title" th:text="${roomGroup.groupName}"></h2>
<!--                    <h2 class="room-price" th:text="${priceDateTime}"><span> VNĐ</span></h2>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Rooms Area Start -->
<div class="roberto-rooms-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Room Details Area -->
                <div class="single-room-details-area mb-50">
                    <!-- Room Thumbnail Slides -->
<!--                    <div class="room-thumbnail-slides mb-50">-->
<!--                        <div id="room-thumbnail&#45;&#45;slide" class="carousel slide" data-ride="carousel">-->
<!--                            <div class="carousel-inner">-->
<!--                                &lt;!&ndash; Lặp qua từng ảnh và gán class active cho ảnh đầu tiên &ndash;&gt;-->
<!--                                <div th:each="image, iterStat : ${roomGroup.images}" class="carousel-item" th:classappend="${iterStat.index == 0 ? ' active' : ''}">-->
<!--                                    <img th:src="@{${image.imageUrl}}" class="d-block w-100" alt="Ảnh nhóm phòng">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Chỉ báo carousel &ndash;&gt;-->
<!--                            <ol class="carousel-indicators">-->
<!--                                &lt;!&ndash; Lặp qua từng ảnh để tạo các chỉ báo, gán active cho chỉ báo đầu tiên &ndash;&gt;-->
<!--                                <li data-target="#room-thumbnail&#45;&#45;slide" th:each="image, iterStat : ${roomGroup.images}" th:data-slide-to="${iterStat.index}" th:classappend="${iterStat.index == 0 ? ' active' : ''}">-->
<!--                                    <img th:src="@{${image.imageUrl}}" class="d-block w-100" alt="Slide ảnh">-->
<!--                                </li>-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="room-thumbnail-slides mb-50">
                        <div id="room-thumbnail--slide" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <!-- Lặp qua từng ảnh và gán class active cho ảnh đầu tiên -->
                                <div th:each="image, iterStat : ${roomGroup.images}" class="carousel-item" th:classappend="${iterStat.index == 0 ? ' active' : ''}">
                                    <img th:src="@{${image.imageUrl}}" class="d-block w-100" alt="Ảnh nhóm phòng">
                                </div>
                            </div>

                            <!-- Chỉ báo carousel -->
                            <ol class="carousel-indicators">
                                <!-- Lặp qua từng ảnh để tạo các chỉ báo, gán active cho chỉ báo đầu tiên -->
                                <li data-target="#room-thumbnail--slide" th:each="image, iterStat : ${roomGroup.images}" th:data-slide-to="${iterStat.index}" th:classappend="${iterStat.index == 0 ? ' active' : ''}">
                                    <img th:src="@{${image.imageUrl}}" class="d-block w-100" alt="Slide ảnh">
                                </li>
                            </ol>
                        </div>
                    </div>


                    <!-- Room Features -->
                    <div class="room-features-area d-flex flex-wrap mb-50">
                        <h6>Diện tích: <span th:text="${roomGroup.area} + ' m2'"></span></h6>
                        <h6>Số người <br> tiêu chuẩn: <span th:text="${roomGroup.standardOccupancy}"></span></h6>
<!--                        <h6>Giường:-->
<!--                            <span th:each="bed : ${roomGroup.beds}" th:text="${bed.bedType.name()}"></span>-->
<!--                        </h6>-->
                        <h6>Giường:
                            <span th:each="bed, iterStat : ${roomGroup.beds}">
                                <span th:if="${bed.bedNumber > 0}">
                                    <span th:text="${bed.bedNumber}"> </span>
                                    <span th:text="${bed.bedType.name()}"> </span>
                                    <span th:if="${iterStat.index < roomGroup.beds.size() - 1 and roomGroup.beds[iterStat.index + 1].bedNumber > 0}">, </span>
                                </span>
                            </span>
                        </h6>


                        <h6>Dịch vụ:
                            <span th:each="item, iterStat : ${roomGroup.services}" th:text="${item.serviceName + (iterStat.index < roomGroup.services.size() - 1 ? ', ' : '')}" style="display: inline-block; text-align: left;"></span>
<!--                            <span>Wifi, television, ...</span> &lt;!&ndash; Update this based on actual services if needed &ndash;&gt;-->
                        </h6>

<!--                        <h6>Size: <span>350-425sqf</span></h6>-->
<!--                        <h6>Capacity: <span>Max persion 5</span></h6>-->
<!--                        <h6>Bed: <span>King beds</span></h6>-->
<!--                        <h6>Services: <span>Wifi, television ...</span></h6>-->
                    </div>

                    <p>
                        Selegend Hotel – khách sạn xây dựng theo tiêu chuẩn 4 sao, tọa lạc ở vị trí Trung Tâm Thành Phố Thái Bình, chỉ với 2h30’ từ sân bay quốc tế Nội Bài, và với 1h45’ từ Sân bay quốc tế Cát Bi
                    </p>

                    <ul>
                        <li><i class="fa fa-check"></i> Chất lượng dịch vụ vượt trội</li>
                        <li><i class="fa fa-check"></i> Sự tiện nghi và hiện đại</li>
                        <li><i class="fa fa-check"></i> Vị trí thuận lợi</li>
                        <li><i class="fa fa-check"></i> Môi trường thân thiện và an toàn</li>
                        <li><i class="fa fa-check"></i> Khách hàng là ưu tiên hàng đầu</li>
<!--                        <li><i class="fa fa-check"></i> Vestibulum rutrum diam vel eros tristique.</li>-->
                    </ul>

                    <p>
                        Với phương châm mang đến chất lượng dịch vụ tốt nhất dành cho khách hàng, Selegend Hotel là sự lựa chọn hoàn hảo cho chuyến đi công tác hay thư giãn khi về với quê lúa Thái Bình
                    </p>
                </div>

                <!-- Room Service -->
                <div class="room-service mb-50">
                    <h4>Các dịch vụ phòng</h4>
                    <ul>
                        <li th:each="service : ${roomGroup.services}">
                            <span th:text="${service.serviceName}"></span>
                        </li>
                    </ul>


                    <!--                    <ul>-->
<!--                        <li><img th:src="@{/img/core-img/icon1.png}" alt=""> Air Conditioning</li>-->
<!--                        <li><img th:src="@{/img/core-img/icon2.png}" alt=""> Free drinks</li>-->
<!--                        <li><img th:src="@{/img/core-img/icon3.png}" alt=""> Restaurant quality</li>-->
<!--                        <li><img th:src="@{/img/core-img/icon4.png}" alt=""> Cable TV</li>-->
<!--                        <li><img th:src="@{/img/core-img/icon5.png}" alt=""> Unlimited Wifi</li>-->
<!--                        <li><img th:src="@{/img/core-img/icon6.png}" alt=""> Service 24/24</li>-->
<!--                    </ul>-->
                </div>


                <div class="room-details mb-50">
                    <h4>Thông tin chi tiết phòng</h4>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Giá mỗi đêm</th>
                            <td th:text="${roomGroup.pricePerNight} + ' VNĐ'"></td>
                        </tr>
                        <tr>
                            <th>Giá combo 2 giờ</th>
                            <td th:text="${roomGroup.comboPrice2H} + ' VNĐ'"></td>
                        </tr>
                        <tr>
                            <th>Phụ thu giờ tiếp</th>
                            <td th:text="${roomGroup.extraHourPrice} + ' VNĐ'"></td>
                        </tr>
                        <tr>
                            <th>Phụ thu thêm người</th>
                            <td th:text="${roomGroup.extraAdult} + ' VNĐ'"></td>
                        </tr>
                        <tr>
                            <th>Số khách tiêu chuẩn</th>
                            <td th:text="${roomGroup.standardOccupancy}"></td>
                        </tr>
                        <tr>
                            <th>Số khách tối đa</th>
                            <td th:text="${roomGroup.maxOccupancy}"></td>
                        </tr>
                        <tr>
                            <th>Số trẻ em miễn phí</th>
                            <td th:text="${roomGroup.numChildrenFree}"></td>
                        </tr>
                        <tr>
                            <th>Mô tả</th>
                            <td th:text="${roomGroup.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <!-- Room Review -->
                <div class="room-review-area mb-100">
                    <h4>Đánh giá</h4>

                    <!-- Lặp qua các review -->
                    <div th:each="review : ${reviews}">
                        <div class="single-room-review-area d-flex align-items-center">
                            <!-- Ảnh đại diện của người đánh giá -->
                            <div class="reviwer-thumbnail">
<!--                                <img th:src="@{/img/bg-img/{id}.png}" alt="Reviewer Thumbnail" />-->
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <!-- Ngày đánh giá -->
                                        <span th:text="${review.createdAt}"></span>
                                        <!-- Tên người đánh giá -->
                                        <h6 th:text="${review.user.fullName}"></h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <!-- Hiển thị sao đánh giá -->
                                        <i class="fa fa-star" th:classappend="${review.rating >= 1 ? ' checked' : ''}"></i>
                                        <i class="fa fa-star" th:classappend="${review.rating >= 2 ? ' checked' : ''}"></i>
                                        <i class="fa fa-star" th:classappend="${review.rating >= 3 ? ' checked' : ''}"></i>
                                        <i class="fa fa-star" th:classappend="${review.rating >= 4 ? ' checked' : ''}"></i>
                                        <i class="fa fa-star" th:classappend="${review.rating >= 5 ? ' checked' : ''}"></i>
                                    </div>
                                </div>
                                <!-- Nội dung nhận xét -->
                                <p th:text="${review.content}"></p>
                            </div>
                        </div>
                    </div>



                    <!--                    &lt;!&ndash; Single Review Area &ndash;&gt;-->
<!--                    <div class="single-room-review-area d-flex align-items-center">-->
<!--                        <div class="reviwer-thumbnail">-->
<!--                            <img th:src="@{/img/bg-img/53.jpg}" alt="">-->
<!--                        </div>-->
<!--                        <div class="reviwer-content">-->
<!--                            <div class="reviwer-title-rating d-flex align-items-center justify-content-between">-->
<!--                                <div class="reviwer-title">-->
<!--                                    <span>27 Aug 2019</span>-->
<!--                                    <h6>Brandon Kelley</h6>-->
<!--                                </div>-->
<!--                                <div class="reviwer-rating">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Single Review Area &ndash;&gt;-->
<!--                    <div class="single-room-review-area d-flex align-items-center">-->
<!--                        <div class="reviwer-thumbnail">-->
<!--                            <img th:src="@{/img/bg-img/54.jpg}" alt="">-->
<!--                        </div>-->
<!--                        <div class="reviwer-content">-->
<!--                            <div class="reviwer-title-rating d-flex align-items-center justify-content-between">-->
<!--                                <div class="reviwer-title">-->
<!--                                    <span>27 Aug 2019</span>-->
<!--                                    <h6>Sounron Masha</h6>-->
<!--                                </div>-->
<!--                                <div class="reviwer-rating">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Single Review Area &ndash;&gt;-->
<!--                    <div class="single-room-review-area d-flex align-items-center">-->
<!--                        <div class="reviwer-thumbnail">-->
<!--                            <img th:src="@{/img/bg-img/55.jpg}" alt="">-->
<!--                        </div>-->
<!--                        <div class="reviwer-content">-->
<!--                            <div class="reviwer-title-rating d-flex align-items-center justify-content-between">-->
<!--                                <div class="reviwer-title">-->
<!--                                    <span>27 Aug 2019</span>-->
<!--                                    <h6>Amada Lyly</h6>-->
<!--                                </div>-->
<!--                                <div class="reviwer-rating">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>



<!--            <div class="col-12 col-lg-4">-->
<!--                &lt;!&ndash; Hotel Reservation Area &ndash;&gt;-->
<!--                <div class="hotel-reservation&#45;&#45;area mb-100">-->
<!--                    <form th:action="@{#}" method="post">-->
<!--                        <div class="form-group mb-30">-->
<!--                            <label for="checkInDate">Ngày</label>-->
<!--                            <div id="datepicker">-->
<!--                                <div class="row no-gutters">-->
<!--                                    <div class="col-6">-->
<!--                                        &lt;!&ndash; Check-in Date &ndash;&gt;-->
<!--                                        <input type="text" class=" form-control" name="checkInDate" id="checkInDate"-->
<!--                                               placeholder="Nhận phòng" th:value="${bookingDto.checkInDate}" readonly>-->
<!--                                    </div>-->
<!--                                    <div class="col-6">-->
<!--                                        &lt;!&ndash; Check-out Date &ndash;&gt;-->
<!--                                        <input type="text" class=" form-control" name="checkOutDate" id="checkOutDate"-->
<!--                                               placeholder="Trả phòng" th:value="${bookingDto.checkOutDate}" readonly>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group mb-30">-->
<!--                            <label for="guests">Số lượng</label>-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    &lt;!&ndash; Hiển thị giá trị người lớn từ bookingDto, không cho chỉnh sửa &ndash;&gt;-->
<!--                                    <select id="guests" class="form-control" disabled>-->
<!--                                        <option th:value="${bookingDto.adults}" th:text="${bookingDto.adults} + ' Người lớn'"></option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    &lt;!&ndash; Hiển thị giá trị trẻ em từ bookingDto, không cho chỉnh sửa &ndash;&gt;-->
<!--                                    <select id="children" class="form-control" disabled>-->
<!--                                        <option th:value="${bookingDto.children}" th:text="${bookingDto.children} + ' Trẻ em'"></option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group mb-30">-->
<!--                            <label for="room">Chọn phòng</label>-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <select name="room" id="room" class="form-control">-->
<!--                                        <option value="">Chọn phòng</option>-->
<!--                                        <th:block th:each="room : ${availableRooms}">-->
<!--                                            <option th:value="${room.roomId}" th:text="${room.roomName}"></option>-->
<!--                                        </th:block>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <button type="submit" class="btn roberto-btn w-100">Đặt phòng</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->


            <div class="col-12 col-lg-4">
                <!-- Hotel Reservation Area -->
                <div class="hotel-reservation--area mb-100">
                    <form th:action="@{/payment}" method="get">
                        <div class="form-group mb-30">
                            <label for="checkInDate">Ngày</label>
                            <div id="datepicker">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <!-- Check-in Date -->
                                        <input type="text" class="form-control" name="checkInDate" id="checkInDate"
                                               placeholder="Nhận phòng" th:value="${bookingDto.checkInDate}" readonly>
                                    </div>
                                    <div class="col-6">
                                        <!-- Check-out Date -->
                                        <input type="text" class="form-control" name="checkOutDate" id="checkOutDate"
                                               placeholder="Trả phòng" th:value="${bookingDto.checkOutDate}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-30">
                            <label for="checkInTime">Giờ</label>
                            <div>
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <!-- Giờ nhận phòng, không cho chỉnh sửa -->
                                        <input type="time" class="form-control" name="checkInTime" id="checkInTime"
                                               placeholder="Giờ nhận phòng" th:value="${bookingDto.checkInTime}" readonly>
                                    </div>
                                    <div class="col-6">
                                        <!-- Giờ trả phòng, không cho chỉnh sửa -->
                                        <input type="time" class="form-control" name="checkOutTime" id="checkOutTime"
                                               placeholder="Giờ trả phòng" th:value="${bookingDto.checkOutTime}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group mb-30">
                            <label for="guests">Số lượng</label>
                            <div class="row">
                                <div class="col-6">
                                    <!-- Hiển thị giá trị người lớn từ bookingDto, không cho chỉnh sửa -->
                                    <select id="guests" class="form-control" disabled>
                                        <option th:value="${bookingDto.adults}" th:text="${bookingDto.adults} + ' Người lớn'"></option>
                                    </select>
                                    <input type="hidden" name="adults" th:value="${bookingDto.adults}" />
                                </div>
                                <div class="col-6">
                                    <!-- Hiển thị giá trị trẻ em từ bookingDto, không cho chỉnh sửa -->
                                    <select id="children" class="form-control" disabled>
                                        <option th:value="${bookingDto.children}" th:text="${bookingDto.children} + ' Trẻ em'"></option>
                                    </select>
                                    <input type="hidden" name="children" th:value="${bookingDto.children}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-30">
                            <label for="room">Chọn phòng</label>
                            <div class="row">
                                <div class="col-6">
                                    <!-- Dropdown to choose a room -->
                                    <select name="room" id="room" class="form-control">
                                        <th:block th:each="room, iterStat : ${availableRooms}">
                                            <!-- Set the roomId as value and roomName as text -->
                                            <option th:value="${room.roomId}"
                                                    th:text="${room.roomName}"
                                                    th:selected="${iterStat.index == 0}"> <!-- Make the first element selected by default -->
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-30">
<!--                            <label for="room">Chọn phòng</label>-->
                            <label>Tổng tiền: </label>
                            <h3 style="margin-left: 130px" class="room-price" th:text="${priceDateTime}"><span> VNĐ</span></h3>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn roberto-btn w-100">Đặt phòng</button>
                        </div>
                    </form>
                </div>
            </div>



            <!--            <div class="col-12 col-lg-4">-->
<!--                &lt;!&ndash; Hotel Reservation Area &ndash;&gt;-->
<!--                <div class="hotel-reservation&#45;&#45;area mb-100">-->
<!--                    <form th:action="@{#}" method="post">-->
<!--                        <div class="form-group mb-30">-->
<!--                            <label for="checkInDate">Ngày</label>-->
<!--                            <div class="input-daterange" id="datepicker">-->
<!--                                <div class="row no-gutters">-->
<!--                                    <div class="col-6">-->
<!--                                        <input type="text" class="input-small form-control" name="checkInDate" id="checkInDate" placeholder="Nhận phòng">-->
<!--                                    </div>-->
<!--                                    <div class="col-6">-->
<!--                                        <input type="text" class="input-small form-control" name="checkOutDate" placeholder="Trả phòng">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group mb-30">-->
<!--                            <label for="room">Chọn phòng</label>-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <select name="adults" id="room" class="form-control">-->
<!--                                        <option value="adults">Tên phòng</option>-->
<!--                                        <option value="01">01</option>-->
<!--                                        <option value="02">02</option>-->
<!--                                        <option value="03">03</option>-->
<!--                                        <option value="04">04</option>-->
<!--                                        <option value="05">05</option>-->
<!--                                        <option value="06">06</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <div class="form-group mb-30">-->
<!--                            <label for="guests">Số lượng</label>-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <select name="adults" id="guests" class="form-control">-->
<!--                                        <option value="adults">Người lớn</option>-->
<!--                                        <option value="01">01</option>-->
<!--                                        <option value="02">02</option>-->
<!--                                        <option value="03">03</option>-->
<!--                                        <option value="04">04</option>-->
<!--                                        <option value="05">05</option>-->
<!--                                        <option value="06">06</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <select name="children" id="children" class="form-control">-->
<!--                                        <option value="children">Trẻ em</option>-->
<!--                                        <option value="01">01</option>-->
<!--                                        <option value="02">02</option>-->
<!--                                        <option value="03">03</option>-->
<!--                                        <option value="04">04</option>-->
<!--                                        <option value="05">05</option>-->
<!--                                        <option value="06">06</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <div class="form-group mb-50">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="slider-range">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="range-price">Max Price: $0 - $3000</div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div data-min="0" data-max="3000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="3000" data-label-result="Max Price: ">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        <div class="form-group">-->
<!--                            <button type="submit" class="btn roberto-btn w-100">Đặt phòng</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!-- Rooms Area End -->

<!-- Call To Action Area Start -->
<section class="roberto-cta-area">
    <div class="container">
        <div class="cta-content bg-img bg-overlay jarallax" th:style="'background-image:url(' + @{/img/bg-img/1.png} + ');'">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <div class="cta-text mb-50">
                        <h2>Liên hệ ngay!</h2>
                        <h6>Liên hệ 0123 456 789 để đặt phòng trực tiếp</h6>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-right">
                    <a href="#" class="btn roberto-btn mb-50">Liên hệ ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End -->

<!-- Partner Area Start -->
<div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single Partner Logo -->
                    <a th:href="@{#}" class="partner-logo"><img th:src="@{/img/core-img/p1.png}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a th:href="@{#}" class="partner-logo"><img th:src="@{/img/core-img/p2.png}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a th:href="@{#}" class="partner-logo"><img th:src="@{/img/core-img/p3.png}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a th:href="@{#}" class="partner-logo"><img th:src="@{/img/core-img/p4.png}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a th:href="@{#}" class="partner-logo"><img th:src="@{/img/core-img/p5.png}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Area End -->
<!-- Modal Thông Báo Chưa Đăng Nhập -->
<div class="modal fade" id="loginRequiredModal" tabindex="-1" role="dialog" aria-labelledby="loginRequiredModalLabel" aria-hidden="true" th:if="${loggedStatus == 'NO'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginRequiredModalLabel">Thông Báo</h5>
            </div>
            <div class="modal-body">
                Bạn cần đăng nhập để thực hiện hành động này.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a th:href="@{/login}" class="btn btn-primary">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer Area Start -->
<!-- Footer Area Start -->
<footer class="footer-area section-padding-80-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a th:href="@{#}" class="footer-logo"><img th:src="@{/img/core-img/logo2.png}" alt=""></a>

                        <h4>0123 456 789</h4>
                        <span>holel@gmail.com</span>
                        <span>Trung Tâm Thành Phố Thái Bình</span>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <!--                <div class="col-12 col-sm-6 col-lg-3">-->
                <!--                    <div class="single-footer-widget mb-80">-->
                <!--                        &lt;!&ndash; Widget Title &ndash;&gt;-->
                <!--                        <h5 class="widget-title">Bài viết của chúng tôi</h5>-->

                <!--                        &lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--                        <div class="latest-blog-area">-->
                <!--                            <a th:href="@{#}" class="post-title">Freelance Design Tricks How</a>-->
                <!--                            <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>-->
                <!--                        </div>-->

                <!--                        &lt;!&ndash; Single Blog Area &ndash;&gt;-->
                <!--                        <div class="latest-blog-area">-->
                <!--                            <a th:href="@{#}" class="post-title">Free Advertising For Your Online</a>-->
                <!--                            <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Liên kết</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a th:href="@{#}"><i class="fa fa-caret-right" aria-hidden="true"></i> Về chúng tôi</a></li>
                            <li><a th:href="@{#}"><i class="fa fa-caret-right" aria-hidden="true"></i> Phòng nghỉ</a></li>
                            <li><a th:href="@{#}"><i class="fa fa-caret-right" aria-hidden="true"></i> Nghề nghiệp</a></li>
                            <li><a th:href="@{#}"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Đăng kí email</h5>
                        <span>Đăng kí để nhận thông tin mới nhất</span>

                        <!-- Newsletter Form -->
                        <form action="index.html" class="nl-form">
                            <input type="email" class="form-control" placeholder="Enter your email...">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <!--                <div class="col-12 col-md-8">-->
                <!--                    &lt;!&ndash; Copywrite Text &ndash;&gt;-->
                <!--                    <div class="copywrite-text">-->
                <!--                        <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
                <!--                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a th:href="https://colorlib.com" target="_blank">Colorlib</a>-->
                <!--                            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-12 col-md-4">
                    <!-- Social Info -->
                    <div class="social-info">
                        <a th:href="@{#}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a th:href="@{#}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a th:href="@{#}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a th:href="@{#}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All Plugins -->
<script th:src="@{/js/roberto.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/js/default-assets/active.js}"></script>

</body>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            const loggedStatus = /*[[${loggedStatus}]]*/ "NO"; // Giá trị từ Thymeleaf, mặc định "NO"

            if (loggedStatus === "NO") {
                event.preventDefault(); // Ngừng submit form

                // Hiển thị modal thông báo chưa đăng nhập
                $('#loginRequiredModal').modal('show');
            }
        });
    });
</script>



</html>