<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cập nhật thông tin phòng</title>
</head>
<body>
<h1>Update Room</h1>
<form th:action="@{/room/update/{roomId}(roomId=${room.roomId})}" th:object="${room}" method="post">

    <label for="roomName">Tên phòng:</label>
    <input type="text" id="roomName" th:field="*{roomName}" required/>
    <br/>

    <label for="description">Mô tả:</label>
    <textarea id="description" th:field="*{description}"></textarea>
    <br/>

    <label for="roomGroup">Loại phòng:</label>
    <select id="roomGroup" th:field="*{roomGroup.roomGroupId}">
        <option th:each="group : ${roomGroups}"
                th:value="${group.roomGroupId}"
                th:text="${group.groupName}"
                th:selected="${group.roomGroupId == room.roomGroup.roomGroupId}">Room Group</option>
    </select>
    <br/>

    <label>Services:</label>
    <div th:each="service : ${services}">
        <input type="checkbox" th:field="*{services}" th:value="${service.serviceId}"
               th:checked="${room.services.contains(service)}"/>
        <span th:text="${service.serviceName}">Dịch vụ</span>
        <br/>
    </div>

    <button type="submit">Cập nhật</button>
</form>
</body>
</html>
