<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Selegend Hotel</title>
    <link rel="icon" href="./img/core-img/favicon.png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
            <div class="col-12 col-lg-4">
                <div class="hotel-reservation--area mb-100">
                    <form th:action="@{/bookRoom}" th:object="${bookingDto}" method="post">

                        <label for="checkInDate">Ngày nhận phòng:</label>
                        <input type="date" id="checkInDate" th:field="*{checkInDate}" name="checkInDate"><br><br>

                        <label for="checkOutDate">Ngày trả phòng:</label>
                        <input type="date" id="checkOutDate" th:field="*{checkOutDate}" name="checkOutDate"><br><br>

                        <label for="checkInTime">Giờ nhận phòng:</label>
                        <input type="time" id="checkInTime" th:field="*{checkInTime}" name="checkInTime"><br><br>

                        <label for="checkOutTime">Giờ trả phòng:</label>
                        <input type="time" id="checkOutTime" th:field="*{checkOutTime}" name="checkOutTime"><br><br>

                        <label for="adults">Số người lớn:</label>
                        <input type="number" id="adults" th:field="*{adults}" name="adults"><br><br>

                        <label for="children">Số trẻ em:</label>
                        <input type="number" id="children" th:field="*{children}" name="children"><br><br>

                        <button type="submit">Đặt phòng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script src="js/jquery.min.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- All Plugins -->
<script src="js/roberto.bundle.js"></script>
<!-- Active -->
<script src="js/default-assets/active.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>